<!DOCTYPE html>
<html>

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title>​<主关键词/>_<站点名称/></title>
    <meta name="keywords" content="​<主关键词/>,CastlestormVR,VR游戏,VR塔防"/>
    <meta name="description"
          content="今天来说说《​<主关键词/>》这款中世纪风格的塔防策略VR游戏。游戏画面看似简单，实战下来才发现不是这么容易的！玩家需要指挥游戏中的角色将敌方城堡的武装全部清除掉，需要有足够的战略头脑，在最有利于己方的条件下作战消灭敌军。"/>
    <link rel="shortcut icon" href="favicon.ico"/>
    <meta name="applicable-device" content="pc,mobile">
    <link href="<模板/>/css/style_1.css?v20160630" type="text/css" rel="stylesheet" media="screen"/>
</head>

<body>
<!-- header -->
<div id="header">
    <p class="headbg"></p>
    <div class="header-content">
        <div class="logo">
            <a href="http://<当前域名/>/"></a>
        </div>
        <div id="menu">

            <a href="http://<当前域名/>/" class="current">首 页</a>
            <a href="it.html" target="_blank">资 讯</a>
            <a href="gamenews.html" target="_blank">游 戏</a>
            <a href="video.html" target="_blank">视 频</a>
            <a href="gamepc.html" target="_blank">评 测</a>
            <a href="tutorial.html" target="_blank">教 程</a>
            <a href="kaifazhe.html" target="_blank">开发者</a>
            <a href="shequ.html" target="_blank">社区</a>
            <a href="tiyanguan.html" target="_blank">体验馆</a>
        </div>
        <div class="submenus">
            <ul>
                <li class="submenu wxwb"><a class="wx-btn" href="javascript:void(0);"><i class="wx"></i>微信<div class="header_qrcode_container"> <img src="<随机图片/>" alt="<随机关键词/>"></div></a><!--<a href="javascript:void(0);"><i class="wb"></i>微博</a> --></li>
                <li class="submenu searcharea">
                    <i class="i isearch"></i>
                    <form method="get" class="search_form" action="search.html">
                        <input type="submit" id="search_submit" class="search_submit" value="">
                        <div class="search_box">
                            <input type="hidden" name="tn" value="search">
                            <input type="text" id="search" maxlength="50" name="word" autocomplete="off" class="search_input">
                        </div>
                    </form>
                </li>
            </ul>
        </div>
    </div>
</div>
<!-- /header -->
<div class="wrapper">
    <div class="container">
        <div class="art-wrap clearfix">
            <div class="art-con">
                <div class="crumbs mt10"><a href="http://<当前域名/>/">百度VR首页</a> > <a href='game.html'>GAME</a> > <a
                        href='gamenews.html'>游戏</a> > <span>正文</span></div>
                <div class="arc-box mt20 clearfix">
                    <h1 class="arc-tit">​<主关键词/></h1>
                    <div class="post-info clearfix">
                        <div class="post-info-s clearfix">
                            <span class="source"><随机人名/></span>
                            <span class="time"><当天时间/></span>
                            <div class="bdsharebuttonbox bdshare-button-style0-16" data-bd-bind="1463033941561">
                                <a href="#" class="bds_weixin" data-cmd="weixin" title="分享到微信"></a>
                                <a href="#" class="bds_tsina" data-cmd="tsina" title="分享到新浪微博"></a>
                            </div>
                        </div>
                    </div>
                    <div class="arc-body-info">
                      <p><主关键词/>,<句子/>,<主关键词/></p>
                    </div>
                    <div class="arc-body mt20 clearfix">
                        <p><span style="line-height: 1.2em;">【<随机关键词/>】</span></p>
                        <p><span style="line-height: 1.2em;"><句子/></span></p>
                        <p><句子/><a href="<随机页面/>"><随机关键词/></a></p>
                        <p style="text-align: center;"><img
                                src="<随机图片/>"
                                title="" alt="<随机关键词/>"/></p>
                        <p><a href="<随机页面/>"><主关键词/></a><句子/></p>
                        <p style="text-align: center;"><img
                                src="<随机图片/>"
                                title="" alt="<随机关键词/>"/></p>
                        <p><句子/><a href="<随机页面/>"><随机关键词/></a></p>
                        <p style="text-align: center;"><img
                                src="<随机图片/>"
                                title="" alt="<随机关键词/>"/></p>
                        <p><embed height="237" type="application/x-shockwave-flash" width="310" src="<随机视频/>" menu="true" loop="true" play="true" scale="ShowAll" wmode="Window" quality="1"></embed></p>
                        <p><a href="<随机页面/>"><随机关键词/></a><句子/></p>
                        <p style="text-align: center;"><img
                                src="<随机图片/>"
                                title="" alt="<随机关键词/>"/></p>
                        <p><句子/><a href="<随机页面/>"><主关键词/></a></p>
                        <p style="text-align: center;"><img
                                src="<随机图片/>"
                                title="" alt="<随机关键词/>"/></p>
                        <p><br/></p></div>
                    <div class="end-source">来源：<主关键词/></div>
                    <div class="share-box clearfix">
                        <div class="bd-share-s bdsharebuttonbox">
                            <a href="#" class="bds_tsina bg-red" data-cmd="tsina" title="分享到新浪微博">分享到新浪微博</a>
                            <a href="#" class="bds_weixin bg-green" data-cmd="weixin" title="分享到微信">分享到微信</a>
                            <a href="#" class="bg-gray bds_more spr_a" data-cmd="more"></a>
                        </div>
                    </div>
                    <div class="statement">声明：所发布的内容均来源于互联网，目的在于传递信息，但不代表本站赞同其观点及立场，版权归属原作者，如有侵权请联系删除。
                    </div>
                    <div class="art-about clearfix">
                        <div class="art-about-art art-prev">上一篇：<a href="<随机页面/>" target="_blank"><随机关键词/></a></div>
                        <div class="art-about-art art-next">下一篇：<a href="<随机页面/>" target="_blank"><随机关键词/></a></div>
                    </div>
                    <div class="recommend-wrap clearfix mt30">
                        <div class="re-tab">
                            <ul class="re-tab-type">
                                <li>
                                    <a class="on" href="javascript:void(0);">推荐</a>
                                </li>
                                <li>
                                    <a href="javascript:void(0);">资讯</a>
                                </li>
                                <li>
                                    <a href="javascript:void(0);">游戏</a>
                                </li>
                                <li>
                                    <a href="javascript:void(0);">视频</a>
                                </li>
                            </ul>
                        </div>
                        <div class="re-con-wrap">
                            <div class="re-con">
                                <ul class="pic-item-list-4">
                                    <li class="pic-item pic-item-4">
                                        <a class="pic-item-img" href="<随机页面/>" target="_blank"><img src="<模板/>/images/grey.png" data-original="<随机图片/>" width="140" height="105" alt="<随机关键词/>"></a>
                                        <strong class="pic-item-tit"><a href="<随机页面/>" target="_blank"><随机关键词/></a></strong>
                                        <span class="pic-item-info"><句子/></span>
                                    </li>
                                    <li class="pic-item pic-item-4">
                                        <a class="pic-item-img" href="<随机页面/>" target="_blank"><img src="<模板/>/images/grey.png" data-original="<随机图片/>" width="140" height="105" alt="<随机关键词/>"></a>
                                        <strong class="pic-item-tit"><a href="<随机页面/>" target="_blank"><随机关键词/></a></strong>
                                        <span class="pic-item-info"><句子/></span>
                                    </li>
                                    <li class="pic-item pic-item-4">
                                        <a class="pic-item-img" href="<随机页面/>" target="_blank"><img src="<模板/>/images/grey.png" data-original="<随机图片/>" width="140" height="105" alt="<随机关键词/>"></a>
                                        <strong class="pic-item-tit"><a href="<随机页面/>" target="_blank"><随机关键词/></a></strong>
                                        <span class="pic-item-info"><句子/></span>
                                    </li>
                                </ul>
                            </div>
                            <div class="re-con">
                                <ul class="pic-item-list-4">
                                    <li class="pic-item pic-item-4">
                                        <a class="pic-item-img" href="<随机页面/>" target="_blank"><img src="<模板/>/images/grey.png" data-original="<随机图片/>" width="140" height="105" alt="<随机关键词/>"></a>
                                        <strong class="pic-item-tit"><a href="<随机页面/>" target="_blank"><随机关键词/></a></strong>
                                        <span class="pic-item-info"><句子/></span>
                                    </li>
                                    <li class="pic-item pic-item-4">
                                        <a class="pic-item-img" href="<随机页面/>" target="_blank"><img src="<模板/>/images/grey.png" data-original="<随机图片/>" width="140" height="105" alt="<随机关键词/>"></a>
                                        <strong class="pic-item-tit"><a href="<随机页面/>" target="_blank"><随机关键词/></a></strong>
                                        <span class="pic-item-info"><句子/></span>
                                    </li>
                                    <li class="pic-item pic-item-4">
                                        <a class="pic-item-img" href="<随机页面/>" target="_blank"><img src="<模板/>/images/grey.png" data-original="<随机图片/>" width="140" height="105" alt="<随机关键词/>"></a>
                                        <strong class="pic-item-tit"><a href="<随机页面/>" target="_blank"><随机关键词/></a></strong>
                                        <span class="pic-item-info"><句子/></span>
                                    </li>
                                </ul>
                            </div>
                            <div class="re-con">
                                <ul class="pic-item-list-4">
                                    <li class="pic-item pic-item-4">
                                        <a class="pic-item-img" href="<随机页面/>" target="_blank"><img src="<模板/>/images/grey.png" data-original="<随机图片/>" width="140" height="105" alt="<随机关键词/>"></a>
                                        <strong class="pic-item-tit"><a href="<随机页面/>" target="_blank"><随机关键词/></a></strong>
                                        <span class="pic-item-info"><句子/></span>
                                    </li>
                                    <li class="pic-item pic-item-4">
                                        <a class="pic-item-img" href="<随机页面/>" target="_blank"><img src="<模板/>/images/grey.png" data-original="<随机图片/>" width="140" height="105" alt="<随机关键词/>"></a>
                                        <strong class="pic-item-tit"><a href="<随机页面/>" target="_blank"><随机关键词/></a></strong>
                                        <span class="pic-item-info"><句子/></span>
                                    </li>
                                    <li class="pic-item pic-item-4">
                                        <a class="pic-item-img" href="<随机页面/>" target="_blank"><img src="<模板/>/images/grey.png" data-original="<随机图片/>" width="140" height="105" alt="<随机关键词/>"></a>
                                        <strong class="pic-item-tit"><a href="<随机页面/>" target="_blank"><随机关键词/></a></strong>
                                        <span class="pic-item-info"><句子/></span>
                                    </li>
                                </ul>
                            </div>
                            <div class="re-con">
                                <ul class="pic-item-list-4">
                                    <li class="pic-item pic-item-4">
                                        <a class="pic-item-img" href="<随机页面/>" target="_blank"><img src="<模板/>/images/grey.png" data-original="<随机图片/>" width="140" height="105" alt="<随机关键词/>"></a>
                                        <strong class="pic-item-tit"><a href="<随机页面/>" target="_blank"><随机关键词/></a></strong>
                                        <span class="pic-item-info"><句子/></span>
                                    </li>
                                    <li class="pic-item pic-item-4">
                                        <a class="pic-item-img" href="<随机页面/>" target="_blank"><img src="<模板/>/images/grey.png" data-original="<随机图片/>" width="140" height="105" alt="<随机关键词/>"></a>
                                        <strong class="pic-item-tit"><a href="<随机页面/>" target="_blank"><随机关键词/></a></strong>
                                        <span class="pic-item-info"><句子/></span>
                                    </li>
                                    <li class="pic-item pic-item-4">
                                        <a class="pic-item-img" href="<随机页面/>" target="_blank"><img src="<模板/>/images/grey.png" data-original="<随机图片/>" width="140" height="105" alt="<随机关键词/>"></a>
                                        <strong class="pic-item-tit"><a href="<随机页面/>" target="_blank"><随机关键词/></a></strong>
                                        <span class="pic-item-info"><句子/></span>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- side -->
            <div class="side pt25">
                <div class="p-link mt35">
                    <a href="<随机页面/>" target="_blank"><img
                            src="<模板/>/images/grey.png"
                            data-original="<模板/>/images/222_98.jpg" width="290"
                            height="134" alt="开发者入口"></a>
                </div>
                <div class="col-mod mt30">
                    <div class="col-tit-wrap mb25 clearfix">
                        <h3 class="col-tit">推荐文章</h3>
                        <div class="right-wrap">
                            <!--  <a href="/it/" target="_blank">更多</a> -->
                        </div>
                    </div>
                    <div class="pic-item-list-wrap">
                        <ul class="pic-item-list-5 clearfix">
                            <li class="pic-item pic-item-5">
                                <a class="pic-item-img" href="<随机页面/>" target="_blank"><img src="<模板/>/images/grey.png" data-original="<随机图片/>" width="133" height="99" alt="<随机关键词/>"></a>
                                <strong class="pic-item-tit"><a href="<随机页面/>" target="_blank"><随机关键词/></a></strong>
                            </li>
                            <li class="pic-item pic-item-5">
                                <a class="pic-item-img" href="<随机页面/>" target="_blank"><img src="<模板/>/images/grey.png" data-original="<随机图片/>" width="133" height="99" alt="<随机关键词/>"></a>
                                <strong class="pic-item-tit"><a href="<随机页面/>" target="_blank"><随机关键词/></a></strong>
                            </li>
                            <li class="pic-item pic-item-5">
                                <a class="pic-item-img" href="<随机页面/>" target="_blank"><img src="<模板/>/images/grey.png" data-original="<随机图片/>" width="133" height="99" alt="<随机关键词/>"></a>
                                <strong class="pic-item-tit"><a href="<随机页面/>" target="_blank"><随机关键词/></a></strong>
                            </li>
                            <li class="pic-item pic-item-5">
                                <a class="pic-item-img" href="<随机页面/>" target="_blank"><img src="<模板/>/images/grey.png" data-original="<随机图片/>" width="133" height="99" alt="<随机关键词/>"></a>
                                <strong class="pic-item-tit"><a href="<随机页面/>" target="_blank"><随机关键词/></a></strong>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-mod mt30">
                    <div class="col-tit-wrap mb10 clearfix">
                        <h3 class="col-tit">文章排行</h3>
                    </div>
                    <ul class="rank_list clearfix">
                        <li class="on"><em class="r_num r_num_r">1</em>
                            <a class="r_pic" href="<随机页面/>" target="_blank"><img src="<模板/>/images/grey.png" data-original="<随机图片/>" width="120" height="90" alt="<随机关键词/>"></a>
                            <a class="r_tit" href="<随机页面/>" target="_blank" title="<随机关键词/>"><随机关键词/></a>
                        </li>
                        <li><em class="r_num r_num_r">2</em>
                            <a class="r_pic" href="<随机页面/>" target="_blank"><img src="<模板/>/images/grey.png" data-original="<随机图片/>" width="120" height="90" alt="<随机关键词/>"></a>
                            <a class="r_tit" href="<随机页面/>" target="_blank" title="<随机关键词/>"><随机关键词/></a>
                        </li>
                        <li><em class="r_num r_num_r">3</em>
                            <a class="r_pic" href="<随机页面/>" target="_blank"><img src="<模板/>/images/grey.png" data-original="<随机图片/>" width="120" height="90" alt="<随机关键词/>"></a>
                            <a class="r_tit" href="<随机页面/>" target="_blank" title="<随机关键词/>"><随机关键词/></a>
                        </li>
                        <li><em class="r_num">4</em>
                            <a class="r_pic" href="<随机页面/>" target="_blank"><img src="<模板/>/images/grey.png" data-original="<随机图片/>" width="120" height="90" alt="<随机关键词/>"></a>
                            <a class="r_tit" href="<随机页面/>" target="_blank" title="<随机关键词/>"><随机关键词/></a>
                        </li>
                        <li><em class="r_num">5</em>
                            <a class="r_pic" href="<随机页面/>" target="_blank"><img src="<模板/>/images/grey.png" data-original="<随机图片/>" width="120" height="90" alt="<随机关键词/>"></a>
                            <a class="r_tit" href="<随机页面/>" target="_blank" title="<随机关键词/>"><随机关键词/></a>
                        </li>
                        <li><em class="r_num">6</em>
                            <a class="r_pic" href="<随机页面/>" target="_blank"><img src="<模板/>/images/grey.png" data-original="<随机图片/>" width="120" height="90" alt="<随机关键词/>"></a>
                            <a class="r_tit" href="<随机页面/>" target="_blank" title="<随机关键词/>"><随机关键词/></a>
                        </li>
                        <li><em class="r_num">7</em>
                            <a class="r_pic" href="<随机页面/>" target="_blank"><img src="<模板/>/images/grey.png" data-original="<随机图片/>" width="120" height="90" alt="<随机关键词/>"></a>
                            <a class="r_tit" href="<随机页面/>" target="_blank" title="<随机关键词/>"><随机关键词/></a>
                        </li>
                        <li><em class="r_num">8</em>
                            <a class="r_pic" href="<随机页面/>" target="_blank"><img src="<模板/>/images/grey.png" data-original="<随机图片/>" width="120" height="90" alt="<随机关键词/>"></a>
                            <a class="r_tit" href="<随机页面/>" target="_blank" title="<随机关键词/>"><随机关键词/></a>
                        </li>
                        <li><em class="r_num">9</em>
                            <a class="r_pic" href="<随机页面/>" target="_blank"><img src="<模板/>/images/grey.png" data-original="<随机图片/>" width="120" height="90" alt="<随机关键词/>"></a>
                            <a class="r_tit" href="<随机页面/>" target="_blank" title="<随机关键词/>"><随机关键词/></a>
                        </li>
                        <li><em class="r_num">10</em>
                            <a class="r_pic" href="<随机页面/>" target="_blank"><img src="<模板/>/images/grey.png" data-original="<随机图片/>" width="120" height="90" alt="<随机关键词/>"></a>
                            <a class="r_tit" href="<随机页面/>" target="_blank" title="<随机关键词/>"><随机关键词/></a>
                        </li>
                    </ul>
                </div>
            </div>
            <!-- /side -->
        </div>

        <!-- 右侧浮动 -->
        <div class="float_btn">
            <div class="side-bs" style="margin-bottom: 10px;">
                <a href="<随机页面/>" target="_blank"><img src="<随机图片/>" width="110" height="140" alt="百度手机助手"></a>
            </div>
            <div class="float-box">
                <p><主关键词/></p>
                <div class="fia_2code"><img src="<随机图片/>" width="108" height="108" onclick="this.style.display='none'"></div>
                <a id="goTopBtn" class="top_btn" href="javascript:;"></a>
            </div>
        </div>
        <!-- /右侧浮动 -->
    </div>
    <!-- footer -->
    <div class="footer">
        <div class="footer-wrap clearfix">
            <div class="footer-box clearfix">
                <div class="footer-logo-wrap">
                    <strong class="footer-logo"></strong>
                    <p class="footer-qr footer-qr-wx"><img src="<模板/>/images/grey.png" data-original="<随机图片/>" /><span>微信</span></p>
                    <p class="footer-qr"><img src="<模板/>/images/grey.png" data-original="<随机图片/>"><span>移动端</span></p>
                </div>
                <div class="footer-nav-wrap line-left">
                    <div class="footer-nav">
                        <strong><a href="<随机页面/>" target="_blank">VR门户</a></strong>
                        <a href="<随机页面/>" target="_blank">资讯</a>
                        <a href="<随机页面/>" target="_blank">游戏</a>
                        <a href="<随机页面/>" target="_blank"> 教程</a>
                        <a href="<随机页面/>" target="_blank">试玩</a>
                        <a href="<随机页面/>" target="_blank">产业</a>
                        <a href="<随机页面/>" target="_blank">技术</a>
                        <a href="<随机页面/>" target="_blank">视频</a>
                        <a href="<随机页面/>" target="_blank">评测</a>


                    </div>
                    <div class="footer-nav">
                        <strong><a href="<随机页面/>" target="_blank">VR社区</a></strong>
                        <a href="<随机页面/>" target="_blank"> Vive社区</a>
                        <a href="<随机页面/>" target="_blank">Oculus社区</a>
                        <a href="<随机页面/>" target="_blank">资源下载</a>
                        <a href="<外推链接/>" target="_blank">游戏下载</a>
                    </div>
                </div>
                <div class="footer-conect line-left">
                    <strong>联系我们</strong>
                    <p>
                        陈先生  e-mail：chenzhengmin01@baidu.com <br>
                        林先生  e-mail：linjingbin01@baidu.com<br>
                        陈小姐  e-mail：chensui01@baidu.com <br>
                        友情链接  联系：yerenhua01@baidu.com <br>
                    </p>
                </div>
            </div>

            <div class="public_footer_lcon">
                <p class="footer_gray">
                    © 2016 <a href="http://www.alizhizhuchi.top/">阿里蜘蛛池</a> All rights reserved  ┊  <a target="_blank" href="sitemap.html">站点地图</a>
                </p>
            </div>
        </div>
    </div>
    <!-- /footer -->
</div>
<!-- common_script -->
<script src="<模板/>/js/jquery-1.11.0.min.js"></script>
<script type="text/javascript" src="<模板/>/js/index_main_1.js"></script>
</body>

</html>
