<!DOCTYPE html>
<html>

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title><主关键词/>_<站点名称/></title>
    <meta name="keywords" content="百度VR,<主关键词/>,虚拟现实,VR资讯,VR游戏,VR产业,VR技术,VR下载,VR硬件,VR设备,<主关键词/>,VR体验,VR视频,VR游戏评测,VR开发,VR电影,VR眼镜,VR产业,VR游戏频道,VR试玩" />
    <meta name="description" content="百度VR专注于VR行业国内外资讯的媒体，<随机关键词/>,每天会定时推送VR资讯、VR产业、VR技术、VR游戏、设备评测，开发者资讯等独家内容，打造权威中文VR社区论坛与媒体平台。" />
    <link rel="shortcut icon" href="/favicon.ico" />
    <meta name="applicable-device" content="pc,mobile">
    <link href="<模板/>/css/style_1.css?v20160630" type="text/css" rel="stylesheet" media="screen" />
</head>

<body>
<!-- header -->
<div id="header">
    <p class="headbg"></p>
    <div class="header-content">
        <div class="logo">
            <a href="http://<当前域名/>/"></a>
        </div>
        <div id="menu">

            <a href="http://<当前域名/>/" class="current">首 页</a>
            <a href="/it/" target="_blank">资 讯</a>
            <a href="/gamenews/" target="_blank">游 戏</a>
            <a href="/video/" target="_blank">视 频</a>
            <a href="/gamepc/" target="_blank">评 测</a>
            <a href="/tutorial/" target="_blank">教 程</a>
            <a href="/<随机字符/>/" target="_blank">开发者</a>
            <a href="/<随机字符/>/" target="_blank">社区</a>
            <a href="/<随机字符/>/" target="_blank">体验馆</a>
        </div>
        <div class="submenus">
            <ul>
                <li class="submenu wxwb"><a class="wx-btn" href="javascript:void(0);"><i class="wx"></i>微信<div class="header_qrcode_container"> <img src="<随机图片/>" alt="<随机关键词/>"></div></a><!--<a href="javascript:void(0);"><i class="wb"></i>微博</a> --></li>
                <li class="submenu searcharea">
                    <i class="i isearch"></i>
                    <form method="get" class="search_form">
                        <input type="submit" id="search_submit" class="search_submit" value="">
                        <div class="search_box">
                            <input type="hidden" name="tn" value="search">
                            <input type="text" id="search" maxlength="50" name="word" autocomplete="off" class="search_input">
                        </div>
                    </form>
                </li>
            </ul>
        </div>
    </div>
</div>
<!-- /header -->
<div class="wrapper full-bg">
    <div class="container">
        <div class="pro-list-wrap clearfix">
            <ul class="pro-list clearfix">
                <li class="pro-item-0">
                    <a href="/<随机字符/>/" target="_blank">
                        <strong>HTC Vive</strong>
                        <p>体验逼真</p>
                    </a>
                    <!-- <p><a href="" target="_blank">视频</a><a href="" target="_blank">图库</a></p>-->
                </li>
                <li class="pro-item-1">
                    <a href="/<随机字符/>/" target="_blank">
                        <strong>Oculus Rift</strong>
                        <p>沉浸感强</p>
                    </a>
                    <!--    <p><a href="" target="_blank">视频</a><a href="" target="_blank">图库</a></p>-->
                </li>
                <li class="pro-item-2">
                    <a href="/<随机字符/>/" target="_blank">
                        <strong>索尼PS VR</strong>
                        <p>性价比高</p>
                    </a>
                    <!--    <p><a href="" target="_blank">视频</a><a href="" target="_blank">图库</a></p>-->
                </li>
                <li class="pro-item-3">
                    <a href="/<随机字符/>/" target="_blank">
                        <strong>Mobile VR</strong>
                        <p>移动VR</p>
                    </a>
                    <!--    <p><a href="" target="_blank">视频</a><a href="" target="_blank">图库</a></p>-->
                </li>
                <li>
                    <a href="/<随机字符/>/" target="_blank"><img src="<模板/>/images/222_98.JPG" width="222" height="98" alt="开发者"></a>
                </li>
            </ul>
        </div>
        <div class="main mt30 clearfix">
            <div class="col-left">
                <div class="main-news">
                    <strong><a href="/<随机字符/>/<随机页面/>" target="_blank">[VR观点学]<随机关键词/></a></strong>                         <p>
                    <a href="/<随机字符/>/<随机页面/>" target="_blank"><随机关键词/></a>                             <a href="/<随机字符/>/<随机页面/>" target="_blank"><随机关键词/></a>                         </p>
                    <strong><a href="/<随机字符/>/<随机页面/>" target="_blank">[VR今日热点]<随机关键词/></a></strong>                         <p>
                    <a href="/<随机字符/>/<随机页面/>" target="_blank"><随机关键词/></a>                             <a href="/<随机字符/>/<随机页面/>" target="_blank"><随机关键词/></a>                         </p>
                    <strong><a href="/<随机字符/>/<随机页面/>" target="_blank">​<随机关键词/></a></strong>                         <p>
                    <a href="/<随机字符/>/<随机页面/>" target="_blank">VR新游《<随机关键词/>》</a>                             <a href="/<随机字符/>/<随机页面/>" target="_blank">Tilt Brush能创作音乐了</a> 						  </p>
                    <strong><a href="/<随机字符/>/<随机页面/>" target="_blank"><随机关键词/></a></strong>                         <p>
                    <a href="/<随机字符/>/<随机页面/>" target="_blank">《<随机关键词/>》完整版</a>                             <a href="/<随机字符/>/<随机页面/>" target="_blank"><随机关键词/></a> 						 </p>
                </div>
                <ul class="news-list clearfix">
                    <li><a class="news-type" target="_blank" href="/<随机字符/>/">资讯</a> | <a href="/<随机字符/>/<随机页面/>" target="_blank"><随机关键词/></a></li>
                    <li><a class="news-type" target="_blank" href="/<随机字符/>/">原创</a> | <a href="/<随机字符/>/<随机页面/>" target="_blank">[VR观点学]<随机关键词/></a></li>
                    <li><a class="news-type" target="_blank" href="/<随机字符/>/">游戏</a> | <a href="/<随机字符/>/<随机页面/>" target="_blank">​<随机关键词/></a></li>
                    <li><a class="news-type" target="_blank" href="/<随机字符/>/">原创</a> | <a href="/<随机字符/>/<随机页面/>" target="_blank">[VR今日热点]<随机关键词/></a></li>
                    <li><a class="news-type" target="_blank" href="/<随机字符/>/">教程</a> | <a href="/<随机字符/>/<随机页面/>" target="_blank"><随机关键词/></a></li>
                </ul>
                <ul class="news-list clearfix">
                    <li><a class="news-type" target="_blank" href="/<随机字符/>/">评测</a> | <a href="/<随机字符/>/<随机页面/>" target="_blank"><随机关键词/></a></li>
                    <li><a class="news-type" target="_blank" href="/<随机字符/>/">评测</a> | <a href="/<随机字符/>/<随机页面/>" target="_blank"><随机关键词/></a></li>
                </ul>
                <div class="video-list-wrap">
                    <div class="video-list clearfix">
                                                    <a class="video-mod" href="/<随机字符/>/<随机页面/>" title="<随机关键词/>" target="_blank">
                            <img src="<模板/>/images/grey.png" data-original="<模板/>/images/57a2e1b9c6685.jpg" width="190" height="142" alt="<随机关键词/>" />
                            <i class="video-icon"></i>
                            <span class="video-bg"></span>
                            <span class="video-tit"><随机关键词/></span>
                        </a>
                                                    <a class="video-mod" href="/<随机字符/>/<随机页面/>" title="<随机关键词/>" target="_blank">
                            <img src="<模板/>/images/grey.png" data-original="<模板/>/images/57a051980e50c.jpg" width="190" height="142" alt="<随机关键词/>" />
                            <i class="video-icon"></i>
                            <span class="video-bg"></span>
                            <span class="video-tit"><随机关键词/></span>
                        </a>
                                                </div>
                </div>
            </div>
            <div class="col-big-right">
                <!-- 幻灯 -->
                <div class="rotator clearfix">
                    <ul class="rotator-list">
                        <li>
                            <a href="/<随机字符/>/<随机页面/>" title="<随机关键词/>" target="_blank"><img src="<模板/>/images/57a2e884a3bea.jpg" alt="<随机关键词/>" width="770" height="310" /><span><随机关键词/></span><span class="tit-bg"></span></a>
                        </li>
                        <li>
                            <a href="/<随机字符/>/<随机页面/>" title="<随机关键词/>" target="_blank"><img src="<模板/>/images/57a2c1b530344.jpg" alt="<随机关键词/>" width="770" height="310" /><span><随机关键词/></span><span class="tit-bg"></span></a>
                        </li>
                        <li>
                            <a href="/<随机字符/>/<随机页面/>" title="<随机关键词/>" target="_blank"><img src="<模板/>/images/57a198401d065.jpg" alt="<随机关键词/>" width="770" height="310" /><span><随机关键词/></span><span class="tit-bg"></span></a>
                        </li>
                        <li>
                            <a href="/<随机字符/>/<随机页面/>" title="<随机关键词/>" target="_blank"><img src="<模板/>/images/57a04fb5b613a.jpg" alt="<随机关键词/>" width="770" height="310" /><span><随机关键词/></span><span class="tit-bg"></span></a>
                        </li>
                        <li>
                            <a href="/<随机字符/>/<随机页面/>" title="<随机关键词/>" target="_blank"><img src="<模板/>/images/57a035c01333b.jpg" alt="<随机关键词/>" width="770" height="310" /><span><随机关键词/></span><span class="tit-bg"></span></a>
                        </li>
                    </ul>
                </div>
                <!-- /幻灯 -->
                <div class="col-right-center mt30">
                    <div class="col-mod">
                        <div class="col-tit-wrap mb20 clearfix">
                            <h3 class="col-tit col-tit-icon-0">大家在看</h3>
                            <div class="right-wrap">
                                <!--  <a href="" target="_blank">更多</a> -->
                            </div>
                        </div>
                        <ul class="pic-item-list-0 clearfix">
                                                            <li class="pic-item pic-item-0">
                                <a class="pic-item-img" href="/<随机字符/>/<随机页面/>" target="_blank"><img src="<模板/>/images/grey.png" data-original="<模板/>/images/focus_573d618c81321.jpg" width="120" height="90" alt="<随机关键词/>"></a>
                                <strong class="pic-item-tit"><a href="/<随机字符/>/<随机页面/>" target="_blank"><随机关键词/></a></strong>
                                <span class="pic-item-info"><i class="view-icon"></i>11363</span>
                            </li>
                                                            <li class="pic-item pic-item-0">
                                <a class="pic-item-img" href="/<随机字符/>/<随机页面/>" target="_blank"><img src="<模板/>/images/grey.png" data-original="<模板/>/images/focus_573edd09e5518.jpg" width="120" height="90" alt="<随机关键词/>"></a>
                                <strong class="pic-item-tit"><a href="/<随机字符/>/<随机页面/>" target="_blank"><随机关键词/></a></strong>
                                <span class="pic-item-info"><i class="view-icon"></i>10193</span>
                            </li>
                                                        </ul>
                    </div>
                    <div class="col-mod mt20">
                        <div class="col-tit-wrap clearfix">
                            <h3 class="col-tit col-tit-icon-0">有深度</h3>
                        </div>
                        <div class="news-wrap clearfix">
                            <div class="news-item bb1d">
                                <strong><a href="/<随机字符/>/<随机页面/>" target="_blank"><随机关键词/></a></strong>
                                <p><句子/></p>
                            </div>
                            <div class="news-item news-item-0 br1d">
                                <strong><a href="/<随机字符/>/<随机页面/>" target="_blank"><随机关键词/></a></strong>
                                <p><句子/></p>
                            </div>
                            <div class="news-item news-item-1">
                                <strong><a href="/<随机字符/>/<随机页面/>" target="_blank"><随机关键词/></a></strong>
                                <p><句子/></p>
                            </div>
                            <div class="news-item news-item-0 br1d bt1d bb1d">
                                <strong><a href="/<随机字符/>/<随机页面/>" target="_blank"><随机关键词/></a></strong>
                            </div>
                            <div class="news-item news-item-1 bt1d bb1d">
                                <strong><a href="/<随机字符/>/<随机页面/>" target="_blank"><随机关键词/></a></strong>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-right mt30">
                    <div class="col-mod">
                        <div class="col-tit-wrap mb10 clearfix">
                            <h3 class="col-tit col-tit-icon-1">热门推荐</h3>
                            <div class="right-wrap">
                                <!-- <a href="" target="_blank">更多</a> -->
                            </div>
                        </div>
                        <div class="pic-item-list-wrap mt10">
                            <ul class="pic-item-list-3 pic-item-list-3-0 clearfix">
                                <li class="pic-item pic-item-3 on">
                                    <a class="pic-item-img" href="/<随机字符/>/<随机页面/>" target="_blank"><img src="<模板/>/images/grey.png" data-original="<模板/>/images/01vrtime.png" width="100" height="100" alt="<随机关键词/>"></a>
                                    <em class="num-1">1</em>
                                    <strong class="pic-item-tit"><a href="/<随机字符/>/<随机页面/>" target="_blank"><随机关键词/></a><a class="pic-item-type" href="/<随机字符/>/<随机页面/>" target="_blank">安卓</a></strong>
                                    <span class="pic-item-info"><a class="item-btn" href="/<随机字符/>/<随机页面/>" target="_blank">下载</a></span>
                                </li>
                                <li class="pic-item pic-item-3">
                                    <a class="pic-item-img" href="/<随机字符/>/<随机页面/>" target="_blank"><img src="<模板/>/images/grey.png" data-original="<模板/>/images/02VR%E4%B8%96%E7%95%8C.png" width="100" height="100" alt="<随机关键词/>"></a>
                                    <em class="num-1">2</em>
                                    <strong class="pic-item-tit"><a href="/<随机字符/>/<随机页面/>" target="_blank"><随机关键词/></a><a class="pic-item-type" href="/<随机字符/>/<随机页面/>" target="_blank">安卓</a></strong>
                                    <span class="pic-item-info"><a class="item-btn" href="/<随机字符/>/<随机页面/>" target="_blank">下载</a></span>
                                </li>
                                <li class="pic-item pic-item-3">
                                    <a class="pic-item-img" href="/<随机字符/>/<随机页面/>" target="_blank"><img src="<模板/>/images/grey.png" data-original="<模板/>/images/03%E6%A9%99%E5%AD%90VR.png" width="100" height="100" alt="<随机关键词/>"></a>
                                    <em class="num-1">3</em>
                                    <strong class="pic-item-tit"><a href="/<随机字符/>/<随机页面/>" target="_blank"><随机关键词/></a><a class="pic-item-type" href="/<随机字符/>/<随机页面/>" target="_blank">安卓</a></strong>
                                    <span class="pic-item-info"><a class="item-btn" href="/<随机字符/>/<随机页面/>" target="_blank">下载</a></span>
                                </li>
                                <li class="pic-item pic-item-3">
                                    <a class="pic-item-img" href="/<随机字符/>/<随机页面/>" target="_blank"><img src="<模板/>/images/grey.png" data-original="<模板/>/images/17vr800.png" width="100" height="100" alt="VR800 "></a>
                                    <em>4</em>
                                    <strong class="pic-item-tit"><a href="/<随机字符/>/<随机页面/>" target="_blank"><随机关键词/></a><a class="pic-item-type" href="/<随机字符/>/<随机页面/>" target="_blank">安卓</a></strong>
                                    <span class="pic-item-info"><a class="item-btn" href="/<随机字符/>/<随机页面/>" target="_blank">下载</a></span>
                                </li>
                                <li class="pic-item pic-item-3">
                                    <a class="pic-item-img" href="/<随机字符/>/<随机页面/>" target="_blank"><img src="<模板/>/images/grey.png" data-original="<模板/>/images/05%E4%B8%89%E7%9B%AEVR.jpg" width="100" height="100" alt="<随机关键词/>"></a>
                                    <em>5</em>
                                    <strong class="pic-item-tit"><a href="/<随机字符/>/<随机页面/>" target="_blank"><随机关键词/></a><a class="pic-item-type" href="/<随机字符/>/<随机页面/>" target="_blank">安卓</a></strong>
                                    <span class="pic-item-info"><a class="item-btn" href="/<随机字符/>/<随机页面/>" target="_blank">下载</a></span>
                                </li>
                                <li class="pic-item pic-item-3">
                                    <a class="pic-item-img" href="/<随机字符/>/<随机页面/>" target="_blank"><img src="<模板/>/images/grey.png" data-original="<模板/>/images/08%E7%88%B1%E5%A5%87%E8%89%BAVR.png" width="100" height="100" alt="<随机关键词/>"></a>
                                    <em>6</em>
                                    <strong class="pic-item-tit"><a href="/<随机字符/>/<随机页面/>" target="_blank"><随机关键词/></a><a class="pic-item-type" href="/<随机字符/>/<随机页面/>" target="_blank">安卓</a></strong>
                                    <span class="pic-item-info"><a class="item-btn" href="/<随机字符/>/<随机页面/>" target="_blank">下载</a></span>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="p-link mt30">
            <a href="/<随机字符/>/<随机页面/>" target="_blank"><img src="<模板/>/images/grey.png" data-original="<模板/>/images/vrtiyandian.jpg" width="1200" height="60" alt="<随机关键词/>" /></a>
        </div>
        <div class="main mt35 clearfix">
            <div class="col-left">
                <div class="col-mod">
                    <div class="col-tit-wrap mb25 clearfix">
                        <h3 class="col-tit">VR图赏</h3>
                        <div class="right-wrap">
                            <a href="/gamepic/" target="_blank">更多</a>
                        </div>
                    </div>
                    <div class="pic-item-list-wrap">
                        <ul class="pic-item-list-1 clearfix">
                            <li class="pic-item pic-item-1">
                                <a class="pic-item-img" href="/<随机字符/>/<随机页面/>" target="_blank"><img src="<模板/>/images/grey.png" data-original="<随机图片/>" width="133" height="99" alt="<随机关键词/>"></a>
                                <strong class="pic-item-tit"><a href="/<随机字符/>/<随机页面/>" target="_blank"><随机关键词/></a></strong>
                                <span class="pic-item-info"><句子/></span>
                            </li>
                            <li class="pic-item pic-item-1">
                                <a class="pic-item-img" href="/<随机字符/>/<随机页面/>" target="_blank"><img src="<模板/>/images/grey.png" data-original="<随机图片/>" width="133" height="99" alt="<随机关键词/>"></a>
                                <strong class="pic-item-tit"><a href="/<随机字符/>/<随机页面/>" target="_blank"><随机关键词/></a></strong>
                                <span class="pic-item-info"><句子/></span>
                            </li>
                            <li class="pic-item pic-item-1">
                                <a class="pic-item-img" href="/<随机字符/>/<随机页面/>" target="_blank"><img src="<模板/>/images/grey.png" data-original="<随机图片/>" width="133" height="99" alt="<随机关键词/>"></a>
                                <strong class="pic-item-tit"><a href="/<随机字符/>/<随机页面/>" target="_blank"><随机关键词/></a></strong>
                                <span class="pic-item-info"><句子/></span>
                            </li>
                            <li class="pic-item pic-item-1">
                                <a class="pic-item-img" href="/<随机字符/>/<随机页面/>" target="_blank"><img src="<模板/>/images/grey.png" data-original="<随机图片/>" width="133" height="99" alt="<随机关键词/>"></a>
                                <strong class="pic-item-tit"><a href="/<随机字符/>/<随机页面/>" target="_blank"><随机关键词/></a></strong>
                                <span class="pic-item-info"><句子/></span>
                            </li>
                            <li class="pic-item pic-item-1">
                                <a class="pic-item-img" href="/<随机字符/>/<随机页面/>" target="_blank"><img src="<模板/>/images/grey.png" data-original="<随机图片/>" width="133" height="99" alt="<随机关键词/>"></a>
                                <strong class="pic-item-tit"><a href="/<随机字符/>/<随机页面/>" target="_blank"><随机关键词/></a></strong>
                                <span class="pic-item-info"><句子/></span>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-center">
                <div class="col-mod">
                    <div class="col-tit-wrap mb25 clearfix">
                        <h3 class="col-tit">游戏热点</h3>
                    </div>
                    <div class="pic-item pic-item-2">
                        <a class="pic-item-img" href="/<随机字符/>/<随机页面/>" target="_blank"><img src="<模板/>/images/grey.png" data-original="<随机图片/>" width="132" height="99" alt="​<随机关键词/>"></a>
                        <strong class="pic-item-tit"><a href="/<随机字符/>/<随机页面/>" target="_blank"><随机关键词/></a></strong>
                        <span class="pic-item-info"><句子/></span>
                    </div>
                    <ul class="news-list news-list-1 mt20 clearfix">
                        <li><a class="news-type" target="_blank" href="/<随机字符/>/">游戏</a> | <a href="/<随机字符/>/<随机页面/>" target="_blank"><随机关键词/></a></li>
                        <li><a class="news-type" target="_blank" href="/<随机字符/>/">游戏</a> | <a href="/<随机字符/>/<随机页面/>" target="_blank"><随机关键词/></a></li>
                        <li><a class="news-type" target="_blank" href="/<随机字符/>/">游戏</a> | <a href="/<随机字符/>/<随机页面/>" target="_blank"><随机关键词/></a></li>
                        <li><a class="news-type" target="_blank" href="/<随机字符/>/">游戏</a> | <a href="/<随机字符/>/<随机页面/>" target="_blank"><随机关键词/></a></li>
                    </ul>
                    <div class="pic-news-list-wrap">
                        <ul class="pic-news-list-0 clearfix">
                            <li class="pic-news-item pic-news-item-0">
                                <a class="pic-news-item-p" href="/<随机字符/>/<随机页面/>" target="_blank"><img src="<模板/>/images/grey.png" data-original="<随机图片/>" width="216" height="162" alt="<随机关键词/>">
                                    <span class="pic-news-item-bg"></span>
                                    <span class="pic-news-item-tit"><随机关键词/></span>
                                </a>
                            </li>
                            <li class="pic-news-item pic-news-item-0">
                                <a class="pic-news-item-p" href="/<随机字符/>/<随机页面/>" target="_blank"><img src="<模板/>/images/grey.png" data-original="<随机图片/>" width="216" height="162" alt="<随机关键词/>">
                                    <span class="pic-news-item-bg"></span>
                                    <span class="pic-news-item-tit"><随机关键词/></span>
                                </a>
                            </li>
                            <li class="pic-news-item pic-news-item-0">
                                <a class="pic-news-item-p" href="/<随机字符/>/<随机页面/>" target="_blank"><img src="<模板/>/images/grey.png" data-original="<随机图片/>" width="216" height="162" alt="<随机关键词/>">
                                    <span class="pic-news-item-bg"></span>
                                    <span class="pic-news-item-tit"><随机关键词/></span>
                                </a>
                            </li>
                            <li class="pic-news-item pic-news-item-0">
                                <a class="pic-news-item-p" href="/<随机字符/>/<随机页面/>" target="_blank"><img src="<模板/>/images/grey.png" data-original="<随机图片/>" width="216" height="162" alt="<随机关键词/>">
                                    <span class="pic-news-item-bg"></span>
                                    <span class="pic-news-item-tit"><随机关键词/></span>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-right">
                <div class="col-mod">
                    <div class="col-tit-wrap mb25 clearfix">
                        <h3 class="col-tit">游戏评测</h3>
                        <div class="right-wrap">
                            <a href="/gamepc/" target="_blank">更多</a>
                        </div>
                    </div>
                    <div class="pic-news-item pic-news-item-1">
                        <a class="pic-news-item-p" href="/<随机字符/>/<随机页面/>" target="_blank"><img src="<模板/>/images/grey.png" data-original="<随机图片/>" width="132" height="99" alt="<随机关键词/>"></a>
                        <a class="pic-news-item-tit" href="/<随机字符/>/<随机页面/>" target="_blank"><随机关键词/></a>
                        <p class="pic-news-item-info"><句子/></p>
                    </div>
                    <div class="pic-news-item pic-news-item-1 mt30">
                        <a class="pic-news-item-p" href="/<随机字符/>/<随机页面/>" target="_blank"><img src="<模板/>/images/grey.png" data-original="<随机图片/>" width="132" height="99" alt="<随机关键词/>"></a>
                        <a class="pic-news-item-tit" href="/<随机字符/>/<随机页面/>" target="_blank"><随机关键词/></a>
                        <p class="pic-news-item-info"><句子/></p>
                    </div>
                    <div class="pic-news-item pic-news-item-1 mt30">
                        <a class="pic-news-item-p" href="/<随机字符/>/<随机页面/>" target="_blank"><img src="<模板/>/images/grey.png" data-original="<随机图片/>" width="132" height="99" alt="<随机关键词/>"></a>
                        <a class="pic-news-item-tit" href="/<随机字符/>/<随机页面/>" target="_blank"><随机关键词/></a>
                        <p class="pic-news-item-info"><句子/></p>
                    </div>
                </div>
            </div>
        </div>
        <div class="main mt30 clearfix">
            <div class="col-mod">
                <div class="col-tit-wrap clearfix">
                    <h3 class="col-tit">视频</h3>
                    <div class="right-wrap">
                        <a href="/gamevideo/" target="_blank">更多</a>
                    </div>
                </div>
                <div class="video-list-wrap mt25">
                    <div class="video-list video-list-0 clearfix">
                        <a class="video-mod" href="/<随机字符/>/<随机页面/>" title="<随机关键词/>" target="_blank">
                            <img src="<模板/>/images/grey.png" data-original="<随机图片/>" width="280" height="210" alt="" />
                            <i class="video-icon"></i>
                            <span class="video-bg"></span>
                            <span class="video-tit"><随机关键词/></span>
                        </a>
                        <a class="video-mod" href="/<随机字符/>/<随机页面/>" title="<随机关键词/>" target="_blank">
                            <img src="<模板/>/images/grey.png" data-original="<随机图片/>" width="280" height="210" alt="" />
                            <i class="video-icon"></i>
                            <span class="video-bg"></span>
                            <span class="video-tit"><随机关键词/></span>
                        </a>
                        <a class="video-mod" href="/<随机字符/>/<随机页面/>" title="<随机关键词/>" target="_blank">
                            <img src="<模板/>/images/grey.png" data-original="<随机图片/>" width="280" height="210" alt="" />
                            <i class="video-icon"></i>
                            <span class="video-bg"></span>
                            <span class="video-tit"><随机关键词/></span>
                        </a>
                        <a class="video-mod" href="/<随机字符/>/<随机页面/>" title="<随机关键词/>" target="_blank">
                            <img src="<模板/>/images/grey.png" data-original="<随机图片/>" width="280" height="210" alt="" />
                            <i class="video-icon"></i>
                            <span class="video-bg"></span>
                            <span class="video-tit"><随机关键词/></span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="p-link mt30">
            <a href="/<随机字符/>/" target="_blank"><img src="<模板/>/images/grey.png" data-original="<模板/>/images/baiduvr0802.jpg" width="1200" height="60" alt="百度VR开发者平台" /></a>
        </div>
        <div class="main mt30 clearfix">
            <div class="col-left-big">
                <div class="col-mod">
                    <div class="col-tit-wrap clearfix">
                        <h3 class="col-tit">虚拟现实游戏中心</h3>
                        <div class="right-wrap">
                            <!-- <div class="col-sub-nav">
                                <a href="" target="_blank">全部</a>
                                <a href="" target="_blank">体育竞技</a>
                                <a href="" target="_blank">塔防游戏</a>
                                <a href="" target="_blank">格斗射击</a>
                                <a href="" target="_blank">场景体验</a>
                                <a href="" target="_blank">模拟经营</a>
                                <a href="" target="_blank">棋牌卡牌</a>
                            </div> -->
                            <!-- <a href="" target="_blank">更多</a> -->
                        </div>
                    </div>
                    <div class="pic-news-list-wrap mt25">
                        <ul class="pic-news-list-3 clearfix">
                            <li class="pic-news-item pic-news-item-3">
                                <a class="pic-news-item-p" href="/<随机字符/>/<随机页面/>" target="_blank"><img src="<模板/>/images/grey.png" data-original="<随机图片/>" width="340" height="188" alt="<随机关键词/>"></a>
                                <a class="pic-news-item-tit" href="/<随机字符/>/<随机页面/>" target="_blank"><随机关键词/></a>
                                <p class="pic-news-item-info">体育竞技</p>
                            </li>
                            <li class="pic-news-item pic-news-item-3">
                                <a class="pic-news-item-p" href="/<随机字符/>/<随机页面/>" target="_blank"><img src="<模板/>/images/grey.png" data-original="<随机图片/>" width="340" height="188" alt="<随机关键词/>"></a>
                                <a class="pic-news-item-tit" href="/<随机字符/>/<随机页面/>" target="_blank"><随机关键词/></a>
                                <p class="pic-news-item-info">休闲益智</p>
                            </li>
                            <li class="pic-news-item pic-news-item-3">
                                <a class="pic-news-item-p" href="/<随机字符/>/<随机页面/>" target="_blank"><img src="<模板/>/images/grey.png" data-original="<随机图片/>" width="340" height="188" alt="<随机关键词/>"></a>
                                <a class="pic-news-item-tit" href="/<随机字符/>/<随机页面/>" target="_blank"><随机关键词/></a>
                                <p class="pic-news-item-info">休闲益智</p>
                            </li>
                        </ul>
                        <ul class="pic-news-list-3 mt25 clearfix">
                            <li class="pic-news-item pic-news-item-3">
                                <a class="pic-news-item-p" href="/<随机字符/>/<随机页面/>" target="_blank"><img src="<模板/>/images/grey.png" data-original="<随机图片/>" width="340" height="188" alt="<随机关键词/>"></a>
                                <a class="pic-news-item-tit" href="/<随机字符/>/<随机页面/>" target="_blank"><随机关键词/></a>
                                <p class="pic-news-item-info">赛车竞速</p>
                            </li>
                            <li class="pic-news-item pic-news-item-3">
                                <a class="pic-news-item-p" href="/<随机字符/>/<随机页面/>" target="_blank"><img src="<模板/>/images/grey.png" data-original="<随机图片/>" width="340" height="188" alt="<随机关键词/>"></a>
                                <a class="pic-news-item-tit" href="/<随机字符/>/<随机页面/>" target="_blank"><随机关键词/></a>
                                <p class="pic-news-item-info">角色扮演</p>
                            </li>
                            <li class="pic-news-item pic-news-item-3">
                                <a class="pic-news-item-p" href="/<随机字符/>/<随机页面/>" target="_blank"><img src="<模板/>/images/grey.png" data-original="<随机图片/>" width="340" height="188" alt="<随机关键词/>"></a>
                                <a class="pic-news-item-tit" href="/<随机字符/>/<随机页面/>" target="_blank"><随机关键词/></a>
                                <p class="pic-news-item-info">休闲益智</p>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-right">
                <div class="col-mod">
                    <div class="col-tit-wrap clearfix">
                        <div class="col-tit-tab">
                            <h3 class="col-tit on" tab="android">安卓 VR</h3>
                            <!-- <h3 class="col-tit" tab="ios">iOS VR</h3> -->
                        </div>
                        <div class="right-wrap">
                            <a href="/<随机字符/>/" target="_blank">更多</a>
                            <!-- <a href="" target="_blank">更多</a> -->
                        </div>
                    </div>
                    <div class="pic-item-list-wrap mt10">
                        <ul class="pic-item-list-3 clearfix">
                            <li class="pic-item pic-item-3 on">
                                <a class="pic-item-img" href="/<随机字符/>/<随机页面/>" target="_blank"><img src="<模板/>/images/grey.png" data-original="<随机图片/>" width="100" height="100" alt="<随机关键词/>"></a>
                                <em class="num-1">1</em>
                                <strong class="pic-item-tit"><a href="/<随机字符/>/<随机页面/>" target="_blank"><随机关键词/></a></strong>
                                <span class="pic-item-info"><a class="item-btn" href="/<随机字符/>/<随机页面/>" target="_blank">下载</a></span>
                            </li>
                            <li class="pic-item pic-item-3">
                                <a class="pic-item-img" href="/<随机字符/>/<随机页面/>" target="_blank"><img src="<模板/>/images/grey.png" data-original="<随机图片/>" width="100" height="100" alt="<随机关键词/>"></a>
                                <em class="num-1">2</em>
                                <strong class="pic-item-tit"><a href="/<随机字符/>/<随机页面/>" target="_blank"><随机关键词/></a></strong>
                                <span class="pic-item-info"><a class="item-btn" href="/<随机字符/>/<随机页面/>" target="_blank">下载</a></span>
                            </li>
                            <li class="pic-item pic-item-3">
                                <a class="pic-item-img" href="/<随机字符/>/<随机页面/>" target="_blank"><img src="<模板/>/images/grey.png" data-original="<随机图片/>" width="100" height="100" alt="<随机关键词/>"></a>
                                <em class="num-1">3</em>
                                <strong class="pic-item-tit"><a href="/<随机字符/>/<随机页面/>" target="_blank"><随机关键词/></a></strong>
                                <span class="pic-item-info"><a class="item-btn" href="/<随机字符/>/<随机页面/>" target="_blank">下载</a></span>
                            </li>
                            <li class="pic-item pic-item-3">
                                <a class="pic-item-img" href="/<随机字符/>/<随机页面/>" target="_blank"><img src="<模板/>/images/grey.png" data-original="<随机图片/>" width="100" height="100" alt="<随机关键词/>"></a>
                                <em>4</em>
                                <strong class="pic-item-tit"><a href="/<随机字符/>/<随机页面/>" target="_blank"><随机关键词/></a></strong>
                                <span class="pic-item-info"><a class="item-btn" href="/<随机字符/>/<随机页面/>" target="_blank">下载</a></span>
                            </li>
                            <li class="pic-item pic-item-3">
                                <a class="pic-item-img" href="/<随机字符/>/<随机页面/>" target="_blank"><img src="<模板/>/images/grey.png" data-original="<随机图片/>" width="100" height="100" alt="<随机关键词/>"></a>
                                <em>5</em>
                                <strong class="pic-item-tit"><a href="/<随机字符/>/<随机页面/>" target="_blank"><随机关键词/></a></strong>
                                <span class="pic-item-info"><a class="item-btn" href="/<随机字符/>/<随机页面/>" target="_blank">下载</a></span>
                            </li>
                            <li class="pic-item pic-item-3">
                                <a class="pic-item-img" href="/<随机字符/>/<随机页面/>" target="_blank"><img src="<模板/>/images/grey.png" data-original="<随机图片/>" width="100" height="100" alt="<随机关键词/>"></a>
                                <em>6</em>
                                <strong class="pic-item-tit"><a href="/<随机字符/>/<随机页面/>" target="_blank"><随机关键词/></a></strong>
                                <span class="pic-item-info"><a class="item-btn" href="/<随机字符/>/<随机页面/>" target="_blank">下载</a></span>
                            </li>
                            <li class="pic-item pic-item-3">
                                <a class="pic-item-img" href="/<随机字符/>/<随机页面/>" target="_blank"><img src="<模板/>/images/grey.png" data-original="<随机图片/>" width="100" height="100" alt="<随机关键词/>"></a>
                                <em>7</em>
                                <strong class="pic-item-tit"><a href="/<随机字符/>/<随机页面/>" target="_blank"><随机关键词/></a></strong>
                                <span class="pic-item-info"><a class="item-btn" href="/<随机字符/>/<随机页面/>" target="_blank">下载</a></span>
                            </li>
                            <li class="pic-item pic-item-3">
                                <a class="pic-item-img" href="/<随机字符/>/<随机页面/>" target="_blank"><img src="<模板/>/images/grey.png" data-original="<随机图片/>" width="100" height="100" alt="<随机关键词/>"></a>
                                <em>8</em>
                                <strong class="pic-item-tit"><a href="/<随机字符/>/<随机页面/>" target="_blank"><随机关键词/></a></strong>
                                <span class="pic-item-info"><a class="item-btn" href="/<随机字符/>/<随机页面/>" target="_blank">下载</a></span>
                            </li>
                            <li class="pic-item pic-item-3">
                                <a class="pic-item-img" href="/<随机字符/>/<随机页面/>" target="_blank"><img src="<模板/>/images/grey.png" data-original="<随机图片/>" width="100" height="100" alt="<随机关键词/>"></a>
                                <em>9</em>
                                <strong class="pic-item-tit"><a href="/<随机字符/>/<随机页面/>" target="_blank"><随机关键词/></a></strong>
                                <span class="pic-item-info"><a class="item-btn" href="/<随机字符/>/<随机页面/>" target="_blank">下载</a></span>
                            </li>
                            <li class="pic-item pic-item-3">
                                <a class="pic-item-img" href="/<随机字符/>/<随机页面/>" target="_blank"><img src="<模板/>/images/grey.png" data-original="<随机图片/>" width="100" height="100" alt="<随机关键词/>"></a>
                                <em>10</em>
                                <strong class="pic-item-tit"><a href="/<随机字符/>/<随机页面/>" target="_blank"><随机关键词/></a></strong>
                                <span class="pic-item-info"><a class="item-btn" href="/<随机字符/>/<随机页面/>" target="_blank">下载</a></span>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="main mt35 clearfix">
            <div class="col-3">
                <div class="col-tit-wrap clearfix">
                    <h3 class="col-tit">热门VR文章总排行</h3>
                </div>
                <ul class="rank-list">
                    <li><span class="num num-1">1</span><a href="/<随机字符/>/<随机页面/>" target="_blank"><随机关键词/></a></li>
                    <li><span class="num num-2">2</span><a href="/<随机字符/>/<随机页面/>" target="_blank"><随机关键词/></a></li>
                    <li><span class="num num-3">3</span><a href="/<随机字符/>/<随机页面/>" target="_blank"><随机关键词/></a></li>
                    <li><span class="num num-4">4</span><a href="/<随机字符/>/<随机页面/>" target="_blank"><随机关键词/></a></li>
                    <li><span class="num num-5">5</span><a href="/<随机字符/>/<随机页面/>" target="_blank"><随机关键词/></a></li>
                    <li><span class="num num-6">6</span><a href="/<随机字符/>/<随机页面/>" target="_blank"><随机关键词/></a></li>
                    <li><span class="num num-7">7</span><a href="/<随机字符/>/<随机页面/>" target="_blank"><随机关键词/></a></li>
                    <li><span class="num num-8">8</span><a href="/<随机字符/>/<随机页面/>" target="_blank"><随机关键词/></a></li>
                    <li><span class="num num-9">9</span><a href="/<随机字符/>/<随机页面/>" target="_blank"><随机关键词/></a></li>
                    <li><span class="num num-10">10</span><a href="/<随机字符/>/<随机页面/>" target="_blank"><随机关键词/></a></li>
                </ul>
            </div>
            <div class="col-3">
                <div class="col-tit-wrap clearfix">
                    <h3 class="col-tit">热门VR资源排行</h3>
                </div>
                <ul class="rank-list">
                    <li><span class="num num-1">1</span><a href="/<随机字符/>/<随机页面/>" target="_blank"><随机关键词/></a></li>
                    <li><span class="num num-2">2</span><a href="/<随机字符/>/<随机页面/>" target="_blank"><随机关键词/></a></li>
                    <li><span class="num num-3">3</span><a href="/<随机字符/>/<随机页面/>" target="_blank"><随机关键词/></a></li>
                    <li><span class="num num-4">4</span><a href="/<随机字符/>/<随机页面/>" target="_blank"><随机关键词/></a></li>
                    <li><span class="num num-5">5</span><a href="/<随机字符/>/<随机页面/>" target="_blank"><随机关键词/></a></li>
                    <li><span class="num num-6">6</span><a href="/<随机字符/>/<随机页面/>" target="_blank"><随机关键词/></a></li>
                    <li><span class="num num-7">7</span><a href="/<随机字符/>/<随机页面/>" target="_blank"><随机关键词/></a></li>
                    <li><span class="num num-8">8</span><a href="/<随机字符/>/<随机页面/>" target="_blank"><随机关键词/></a></li>
                    <li><span class="num num-9">9</span><a href="/<随机字符/>/<随机页面/>" target="_blank"><随机关键词/></a></li>
                    <li><span class="num num-10">10</span><a href="/<随机字符/>/<随机页面/>" target="_blank"><随机关键词/></a></li>
                </ul>
            </div>
            <div class="col-3">
                <div class="col-tit-wrap clearfix">
                    <h3 class="col-tit">热门教程排行</h3>
                </div>
                <ul class="rank-list">
                    <li><span class="num num-1">1</span><a href="/<随机字符/>/<随机页面/>" target="_blank"><随机关键词/></a></li>
                    <li><span class="num num-2">2</span><a href="/<随机字符/>/<随机页面/>" target="_blank"><随机关键词/></a></li>
                    <li><span class="num num-3">3</span><a href="/<随机字符/>/<随机页面/>" target="_blank"><随机关键词/></a></li>
                    <li><span class="num num-4">4</span><a href="/<随机字符/>/<随机页面/>" target="_blank"><随机关键词/></a></li>
                    <li><span class="num num-5">5</span><a href="/<随机字符/>/<随机页面/>" target="_blank"><随机关键词/></a></li>
                    <li><span class="num num-6">6</span><a href="/<随机字符/>/<随机页面/>" target="_blank"><随机关键词/></a></li>
                    <li><span class="num num-7">7</span><a href="/<随机字符/>/<随机页面/>" target="_blank"><随机关键词/></a></li>
                    <li><span class="num num-8">8</span><a href="/<随机字符/>/<随机页面/>" target="_blank"><随机关键词/></a></li>
                    <li><span class="num num-9">9</span><a href="/<随机字符/>/<随机页面/>" target="_blank"><随机关键词/></a></li>
                    <li><span class="num num-10">10</span><a href="/<随机字符/>/<随机页面/>" target="_blank"><随机关键词/></a></li>
                </ul>
            </div>
        </div>
        <!-- 友情链接 -->
        <div class="friend-link-wrap main mt20 clearfix">
            <strong class="friend-link-tit">友情链接</strong>
            <div class="main mt30 clearfix">
                <div class="friend-link">
                    <a href="<随机泛域名/>" target="_blank">新浪VR</a>
                    <a href="<随机泛域名/>" target="_blank">87870</a>
                    <a href="<随机泛域名/>" target="_blank">微豆网 </a>
                    <a href="<随机泛域名/>" target="_blank">VR345导航 </a>
                    <a href="<随机泛域名/>" target="_blank">100纷TV</a>
                    <a href="<随机泛域名/>" target="_blank">YOTOVR</a>
                    <a href="<随机泛域名/>" target="_blank">虚拟99</a>
                    <a href="<随机泛域名/>" target="_blank">83830VR</a>
                    <a href="<随机泛域名/>" target="_blank">上方网</a>
                    <a href="<随机泛域名/>" target="_blank">VR科技网</a>
                </div>
                <div class="friend-link">
                    <a href="<随机泛域名/>" target="_blank">百度手机助手</a>
                    <a href="<随机泛域名/>" target="_blank">VR论坛</a>
                    <a href="<随机泛域名/>" target="_blank">91门户</a>
                    <a href="<随机泛域名/>" target="_blank">苹果园</a>
                    <a href="<随机泛域名/>" target="_blank">苹果中文网</a>
                    <a href="<随机泛域名/>" target="_blank">iPhone论坛</a>
                    <a href="<随机泛域名/>" target="_blank">VR日报 </a>
                    <a href="<随机泛域名/>" target="_blank">联想乐商店</a>
                    <a href="<随机泛域名/>" target="_blank">国际数字感知大会</a>
                </div>
                <div class="friend-link">
                    <a href="<随机泛域名/>" target="_blank">安卓网</a>
                    <a href="<随机泛域名/>" target="_blank">手机配件</a>
                    <a href="<随机泛域名/>" target="_blank">苹果园论坛</a>
                    <a href="<随机泛域名/>" target="_blank">安卓论坛</a>
                    <a href="<随机泛域名/>" target="_blank">VR中文网</a>
                    <a href="<随机泛域名/>" target="_blank">百度VR浏览器</a>
                </div>
            </div>
        </div>
        <!-- /友情链接 -->
        <!-- 右侧浮动 -->
        <div class="float_btn">
            <div class="side-bs" style="margin-bottom: 10px;">
                <a href="/<随机字符/>/<随机页面/>" target="_blank"><img src="<随机图片/>" width="110" height="140" alt="百度手机助手"></a>
            </div>
            <div class="float-box">
                <p><主关键词/></p>
                <div class="fia_2code"><img src="<随机图片/>" width="108" height="108" onclick="this.style.display='none'"></div>
                <a id="goTopBtn" class="top_btn" href="javascript:;"></a>
            </div>
        </div>
        <!-- /右侧浮动 -->
    </div>
    <!-- footer -->
    <div class="footer">
        <div class="footer-wrap clearfix">
            <div class="footer-box clearfix">
                <div class="footer-logo-wrap">
                    <strong class="footer-logo"></strong>
                    <p class="footer-qr footer-qr-wx"><img src="<模板/>/images/grey.png" data-original="<随机图片/>" /><span>微信</span></p>
                    <p class="footer-qr"><img src="<模板/>/images/grey.png" data-original="<随机图片/>"><span>移动端</span></p>
                </div>
                <div class="footer-nav-wrap line-left">
                    <div class="footer-nav">
                        <strong><a href="/<随机字符/>/" target="_blank">VR门户</a></strong>
                        <a href="/<随机字符/>/" target="_blank">资讯</a>
                        <a href="/<随机字符/>/" target="_blank">游戏</a>
                        <a href="/<随机字符/>/" target="_blank"> 教程</a>
                        <a href="/<随机字符/>/" target="_blank">试玩</a>
                        <a href="/<随机字符/>/" target="_blank">产业</a>
                        <a href="/<随机字符/>/" target="_blank">技术</a>
                        <a href="/<随机字符/>/" target="_blank">视频</a>
                        <a href="/<随机字符/>/" target="_blank">评测</a>


                    </div>
                    <div class="footer-nav">
                        <strong><a href="/<随机字符/>/" target="_blank">VR社区</a></strong>
                        <a href="/<随机字符/>/" target="_blank"> Vive社区</a>
                        <a href="/<随机字符/>/" target="_blank">Oculus社区</a>
                        <a href="/<随机字符/>/" target="_blank">资源下载</a>
                        <a href="/<随机字符/>/" target="_blank">游戏下载</a>

                    </div>
                </div>
                <div class="footer-conect line-left">
                    <strong>联系我们</strong>
                    <p>
                        陈先生  e-mail：chenzhengmin01@baidu.com <br>
                        林先生  e-mail：linjingbin01@baidu.com<br>
                        陈小姐  e-mail：chensui01@baidu.com <br>
                        友情链接  联系：yerenhua01@baidu.com <br>
                    </p>
                </div>
            </div>

            <div class="public_footer_lcon">
                <p class="footer_gray">
                    © 2016 <外推链接/> All rights reserved  ┊  <a target="_blank" href="/sitemap.html">站点地图</a>
                </p>
            </div>
        </div>
    </div>
    <!-- /footer -->
</div>
<!-- common_script -->
<script src="<模板/>/js/jquery-1.11.0.min.js"></script>
<script type="text/javascript" src="<模板/>/js/index_main_1.js"></script>
</body>
</html>
