BODY {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px;  PADDING-BOTTOM: 0px; MARGIN: 0px; COLOR: #000000; PADDING-TOP: 0px; FONT-FAMILY: "Verdana", "����"; TEXT-DECORATION: none
}
TD {
	  COLOR: #3C3C3C; FONT-FAMILY: "Verdana", "����"; TEXT-DECORATION: none
}
.LH-120 {
	LINE-HEIGHT: 120%
}
.LH-150 {
	LINE-HEIGHT: 150%
}
A:link {
	FONT-SIZE: 13px; COLOR: #3C3C3C; FONT-FAMILY: "Verdana", "����"; TEXT-DECORATION: none
}
A:visited {
	FONT-SIZE: 13px; COLOR: #3C3C3C; FONT-FAMILY: "Verdana", "����"; TEXT-DECORATION: none
}
A:active {
	FONT-SIZE: 13px; COLOR: #3C3C3C; FONT-FAMILY: "Verdana", "����"; TEXT-DECORATION: none
}
A:hover {
	FONT-SIZE: 13px; COLOR: #3C3C3C; FONT-FAMILY: "Verdana", "����"; TEXT-DECORATION: underline
}
.BG-RepeatNO {
	BACKGROUND-POSITION: left top; BACKGROUND-REPEAT: no-repeat
}
.Font9px {
	FONT-SIZE: 9px; FONT-FAMILY: "verdana", "����"; TEXT-DECORATION: none
}
.Font10px {
	FONT-SIZE: 10px; FONT-FAMILY: "verdana", "����"; TEXT-DECORATION: none
}
.Font12px {
	FONT-SIZE: 12px; FONT-FAMILY: "verdana", "����"; TEXT-DECORATION: none; COLOR: #3C3C3C;	font-weight: bold
}
.Font11px {
	FONT-SIZE: 11px; FONT-FAMILY: "verdana", "����"; TEXT-DECORATION: none
}
.Font14px {
	FONT-SIZE: 14px; FONT-FAMILY: "verdana", "����"; TEXT-DECORATION: none
}
.MenuFont-EN {
	FONT-SIZE: 9px; COLOR: #000000; FONT-FAMILY: "verdana", "����"; TEXT-DECORATION: none
}
.MenuFont-CN {
	FONT-SIZE: 9pt; COLOR: #ffffff; FONT-FAMILY: "verdana", "����"; TEXT-DECORATION: none
}
.TableTitle {
	FONT-SIZE: 14px; COLOR: #D6F3FF
}
A.TableTitle:link {
	FONT-SIZE: 14px; COLOR: #D6F3FF; TEXT-DECORATION: none
}
A.TableTitle:visited {
	FONT-SIZE: 14px; COLOR: #D6F3FF; TEXT-DECORATION: none
}
A.TableTitle:active {
	FONT-SIZE: 14px; COLOR: #D6F3FF; TEXT-DECORATION: none
}
A.TableTitle:hover {
	FONT-SIZE: 14px; COLOR: #D6F3FF; TEXT-DECORATION: underline
}
.TextShadow {
	FILTER: dropshadow(color=#8C8C8C,offx=1,offy=1,positive=1); COLOR: #ffffff; LINE-HEIGHT: 120%; LETTER-SPACING: 1px; TEXT-DECORATION: none
}
.TextShadow2 {
	FILTER: dropshadow(color=#FFFFFF,offx=1,offy=1,positive=1); COLOR: #333333; LINE-HEIGHT: 120%; LETTER-SPACING: 1px; TEXT-DECORATION: none
}
.top_title {  font-family: "����"; font-size: 14px; line-height: 28px;COLOR: #0d528d}
.title3 {  font-family: "����"; font-size: 14px; COLOR: #000000}
.top_wz    {  font-size:14 px; COLOR: #2E8DBB }
.top_12    {  font-size:12 px;  }
.top_zt    {  font-size:14 px; COLOR: #fff;font-family: "����"; }
.top_bt    {  font-size:14 px;font-family: "����"; }
.top_data {  font-family: "����"; font-size: 13px;COLOR: #0d528d}
.top_data2 {  font-family: "����"; font-size: 12px;}
.top_color {  font-family: "����"; font-size: 13px;COLOR: #0d528d}
.top_data1 {  font-family: "����"; font-size: 14px;COLOR: #0d528d}
a.topx:link {
	COLOR: #ffffff;
	TEXT-DECORATION: none;
	font-family: "??��?";
	font-size: 12px; 
}
a.topx:visited { COLOR: #ffffff; TEXT-DECORATION:none;font-size: 12px;  }
a.topx:active { COLOR: #ff0000; TEXT-DECORATION: underline;font-size: 12px; }
a.topx:hover {
	COLOR: #ff0000;
	TEXT-DECORATION: underline;
	font-family: "??��?";
	font-size: 12px;
}
a.more:link {
	COLOR: #666666;
	TEXT-DECORATION: none;
	font-family: "??��?";
	font-size: 12px; 
}
a.more:visited { COLOR: #666666; TEXT-DECORATION:none;font-size: 12px;  }
a.more:active { COLOR: #ff0000; TEXT-DECORATION: underline;font-size: 12px; }
a.more:hover {
	COLOR: #ff0000;
	TEXT-DECORATION: underline;
	font-family: "??��?";
	font-size: 12px;
}
a.more-1:link {
	COLOR: #666666;
	TEXT-DECORATION: none;
	font-family: "??��?";
	font-size: 12px; 
}
a.more-1:visited { COLOR: #666666; TEXT-DECORATION:none;font-size: 12px;  }
a.more-1:active { COLOR: #ff0000; TEXT-DECORATION: underline;font-size: 12px; }
a.more-1:hover {
	COLOR: #ff0000;
	TEXT-DECORATION: underline;
	font-family: "??��?";
	font-size: 12px;
}
a.more-2:link {
	COLOR: #000000;
	TEXT-DECORATION: none;
	font-family: "??��?";
	font-size: 12px; 
}
a.more-2:visited { COLOR: #000000; TEXT-DECORATION:none;font-size: 12px;  }
a.more-2:active { COLOR: #ff0000; TEXT-DECORATION: underline;font-size: 12px; }
a.more-2:hover {
	COLOR: #ff0000;
	TEXT-DECORATION: underline;
	font-family: "??��?";
	font-size: 12px;
}

a.news-top:link {
	COLOR: #0B5596;
	TEXT-DECORATION: none;
	font-family: "??��?";
	font-size: 14px; 
}
a.news-top:visited { COLOR: #0B5596; TEXT-DECORATION:none;font-size: 14px;  }
a.news-top:active { COLOR: #ff0000; TEXT-DECORATION: underline;font-size: 14px; }
a.news-top:hover {
	COLOR: #ff0000;
	TEXT-DECORATION: underline;
	font-family: "??��?";
	font-size: 14px;
}

a.toutiao3:link {
	COLOR: #0B5596;
	TEXT-DECORATION: none;
	font-family: "����";
	font-size: 20px; 
}
a.toutiao3:visited { COLOR: #0B5596; TEXT-DECORATION:none;font-size: 20px;font-family: "����";  }
a.toutiao3:active { COLOR: #ff0000; TEXT-DECORATION: underline;font-size: 20px; font-family: "����";}
a.toutiao3:hover {
	COLOR: #ff0000;
	TEXT-DECORATION: underline;
	font-family: "����";
		font-size: 20px;
}
a.main-top:link {
	COLOR: #ffffff;
	TEXT-DECORATION: none;
	font-family: "����";
	font-size: 25px; 
}
a.main-top:visited { COLOR: #000000; TEXT-DECORATION:none;font-size: 25px; font-family: "����"; }
a.main-top:active { COLOR: #ff0000; TEXT-DECORATION: underline;font-size: 25px; font-family: "����";}
a.main-top:hover {
	COLOR: #ff0000;
	TEXT-DECORATION: underline;
	font-family: "����";
	font-size: 25px;
}
a.main-top-line:link {
	COLOR: ##0B5596;
	TEXT-DECORATION: none;
	font-family: "����";
	font-size: 14px; 
}
a.main-top-line:visited { COLOR: ##0B5596; TEXT-DECORATION:none;font-size: 14px; font-family: "����"; }
a.main-top-line:active { COLOR: #ff0000; TEXT-DECORATION: underline;font-size: 14x; font-family: "����";}
a.main-top-line:hover {
	COLOR: #ff0000;
	TEXT-DECORATION: underline;
	font-family: "����";
	font-size: 14px;
}
a.main-top-hui:link {
	COLOR: #545454;
	TEXT-DECORATION: none;
	font-family: "����";
	font-size: 14px; 
}
a.main-top-hui:visited { COLOR: #545454; TEXT-DECORATION:none;font-size: 14px; font-family: "����"; }
a.main-top-hui:active { COLOR: #ff0000; TEXT-DECORATION: underline;font-size: 14x; font-family: "����";}
a.main-top-hui:hover {
	COLOR: #ff0000;
	TEXT-DECORATION: underline;
	font-family: "����";
	font-size: 14px;
}
a.main-3:link {
	COLOR: #666666;
	TEXT-DECORATION: none;
	font-family: "����";
	font-size: 12px; 
}
a.main-3:visited { COLOR: #666666; TEXT-DECORATION:none;font-size: 12px; font-family: "����"; }
a.main-3:active { COLOR: #ff0000; TEXT-DECORATION: underline;font-size: 12x; font-family: "����";}
a.main-3:hover {
	COLOR: #ff0000;
	TEXT-DECORATION: underline;
	font-family: "����";
	font-size: 12px;
}

a.main-t:link {
	COLOR: #303030;
	TEXT-DECORATION: none;
	font-family: "����";
	font-size: 12px; 
}
a.main-t:visited { COLOR: #303030; TEXT-DECORATION:none;font-size: 12px; font-family: "����"; }
a.main-t:active { COLOR: #ff0000; TEXT-DECORATION: underline;font-size: 12x; font-family: "����";}
a.main-t:hover {
	COLOR: #ff0000;
	TEXT-DECORATION: underline;
	font-family: "����";
	font-size: 12px;
}
a.main-xt:link {
	COLOR: #303030;
	TEXT-DECORATION: none;
	font-family: "����";
	font-size: 16px; 
}
a.main-xt:visited { COLOR: #303030; TEXT-DECORATION:none;font-size: 16px; font-family: "����"; }
a.main-xt:active { COLOR: #ff0000; TEXT-DECORATION: underline;font-size: 16x; font-family: "����";}
a.main-xt:hover {
	COLOR: #ff0000;
	TEXT-DECORATION: underline;
	font-family: "����";
	font-size: 16px;
}
a.main-more:link {
	COLOR: #ff0000;
	TEXT-DECORATION: none;
	font-family: "����";
	font-size: 12px; 
}
a.main-more:visited { COLOR: #ff0000; TEXT-DECORATION:none;font-size: 12px; font-family: "����"; }
a.main-more:active { COLOR: #ff0000; TEXT-DECORATION: underline;font-size: 12x; font-family: "����";}
a.main-more:hover {
	COLOR: #ff0000;
	TEXT-DECORATION: underline;
	font-family: "����";
	font-size: 12px;
}
a.more1:link {
	COLOR: #707070;
	TEXT-DECORATION: none;
	font-family: "����";
	font-size: 12px; 
}
a.more1:visited { COLOR: #707070; TEXT-DECORATION:none;font-size: 12px; font-family: "����"; }
a.more1:active { COLOR: #ff0000; TEXT-DECORATION: underline;font-size: 12x; font-family: "����";}
a.more1:hover {
	COLOR: #ff0000;
	TEXT-DECORATION: underline;
	font-family: "����";
	font-size: 12px;
}
a.main-news:link {
	COLOR: #2b2b2b;
	TEXT-DECORATION: none;
	font-family: "����";
	font-size: 14px; 
}
a.main-news:visited { COLOR: #2b2b2b; TEXT-DECORATION:none;font-size: 14px; font-family: "����"; }
a.main-news:active { COLOR: #ff0000; TEXT-DECORATION: underline;font-size: 14x; font-family: "����";}
a.main-news:hover {
	COLOR: #ff0000;
	TEXT-DECORATION: underline;
	font-family: "����";
	font-size: 14px;
}
a.zt-news:link {
	COLOR: #2b2b2b;
	TEXT-DECORATION: none;
	font-family: "����";
	font-size: 20px; 
}
a.zt-news:visited { COLOR: #2b2b2b; TEXT-DECORATION:none;font-size: 20px; font-family: "����"; }
a.zt-news:active { COLOR: #ff0000; TEXT-DECORATION: underline;font-size: 20x; font-family: "����";}
a.zt-news:hover {
	COLOR: #ff0000;
	TEXT-DECORATION: underline;
	font-family: "����";
	font-size: 20px;
}
/* ȫ��CSS���� */
div,form,img,ul,ol,li,dl,dt,dd {margin: 0; padding: 0; border: 0;}
div,img,input,select,ul{float:left}
input,select,.div_body{font-size:12px;font-family:simsun}
ul{list-style-type:none}
a{text-decoration:none;}
	a:hover{text-decoration:underline;color:#f60}

h1{font-size:14px;font-weight:bold;display:inline;}

/* ���� */

.H_se2{background:url(../images/a.gif) 100% -164px;font:bold 12px/38px simsun;padding:0 12px 0 0;float:left;color:#0D528D;text-decoration:underline}
.H_se2:hover{text-decoration:none}

/*���Ÿ��� ���� */
 #news_more{border:1px solid #83A3CD;position:absolute;margin:30px 0 0;width:102px;background:#fff;display:none;font-family:arial;line-height:20px;border-left:1px solid #C6D7EF}
 #news_more a{color:#07519A;margin:0;width:102px;padding:0 8px;text-decoration:none;float:left}
 #news_more a:hover{color:#fff;background:#215FB1;text-decoration:none}
 #news_more .ln{width:100px;background:#C6D7EF;height:1px;border:3px solid #fff;overflow:hidden}