@charset "gb2312";
.t
{
	LINE-HEIGHT: normal;
	font-family: "??��?";
	font-size: 14px;

}
BODY
{
    FONT-SIZE: 12px;
    SCROLLBAR-HIGHLIGHT-COLOR: buttonface;
    SCROLLBAR-SHADOW-COLOR: buttonface;
    SCROLLBAR-3DLIGHT-COLOR: buttonhighlight;
    SCROLLBAR-TRACK-COLOR: #eeeeee;
    FONT-FAMILY: "??��?";
    SCROLLBAR-DARKSHADOW-COLOR: buttonshadow
}
TD {
	FONT-SIZE: 12px; FONT-FAMILY: "??��?"
}
DIV
{
    FONT-SIZE: 12px;
    FONT-FAMILY: "??��?"
}
FORM
{
    FONT-SIZE: 12px;
    FONT-FAMILY: "??��?"
}
OPTION
{
    FONT-SIZE: 12px;
    FONT-FAMILY: "??��?"
}
P
{
    FONT-SIZE: 12px;LINE-HEIGHT: 1.2;
    FONT-FAMILY: "??��?"
}
TD
{
    FONT-SIZE: 12px;LINE-HEIGHT: 1.2; FONT-FAMILY: "??��?";
}
BR
{
    FONT-SIZE: 12px;LINE-HEIGHT: 1.2;FONT-FAMILY: "??��?"
}
.input
{border-left:1px groove #ffffff; border-right:2px groove #ffffff; border-top:1px groove #ffffff; border-bottom:2px groove #ffffff;font-size:12px; font-family: "??��?"}
TEXTAREA
{
    BORDER-TOP-WIDTH: 1px;
    BORDER-LEFT-WIDTH: 1px;
    FONT-SIZE: 9pt;
    BORDER-LEFT-COLOR: #000000;
    BORDER-BOTTOM-WIDTH: 1px;
    BORDER-BOTTOM-COLOR: #000000;
    BORDER-TOP-COLOR: #000000;
    FONT-FAMILY: ??��?;
    BACKGROUND-COLOR: #efefef;
    BORDER-RIGHT-WIDTH: 1px;
    BORDER-RIGHT-COLOR: #000000
}
SELECT
{
    BORDER-TOP-WIDTH: 1px;
    BORDER-LEFT-WIDTH: 1px;
    FONT-SIZE: 9pt;
    BORDER-LEFT-COLOR: #000000;
    BORDER-BOTTOM-WIDTH: 1px;
    BORDER-BOTTOM-COLOR: #000000;
    BORDER-TOP-COLOR: #000000;
    FONT-FAMILY: ??��?;
    BACKGROUND-COLOR: #efefef;
    BORDER-RIGHT-WIDTH: 1px;
    BORDER-RIGHT-COLOR: #000000
}
.foot {  font-family: "??��?"; font-size: 9pt; color: #FFFFFF}
p9 {
	font-family: "??��?";
	font-size: 9px;
}
.p9 {
	font-family: "??��?";
	font-size: 10px;
}
a.top:active { COLOR: #FF0000; TEXT-DECORATION: none }
a.top:hover { COLOR: #FF0000; TEXT-DECORATION: underline}
a.top:link { COLOR: #FFFFFF; TEXT-DECORATION: none }
a.top:visited { COLOR: #FFFFFF; TEXT-DECORATION: none }
a.main:active { COLOR: #003300; TEXT-DECORATION: none }
a.main:hover {
	COLOR: #FF0000;
	text-decoration:none;
	font-family:"����";
	font-size: 12px;
}
/*a.main:link {
	color: #3C3C3C;
	TEXT-DECORATION: overline;
	font-family: "??��?";
}*/
a.main:visited { COLOR: #003300; TEXT-DECORATION: none }
.px12lv {  }
.box {
	border: 1px solid #000000;
}
.news1 {  font-family: "����"; font-size: 12px; line-height: 20px;COLOR: #002B5E; TEXT-DECORATION: none}
.news2 {  font-family: "����"; font-size: 12px; line-height: 20px;COLOR: #333333; TEXT-DECORATION: none}
.title1 {  font-family: "����"; font-size: 14px; line-height: 25px;COLOR: #8E1924}
.title2 {  font-family: "����"; font-size: 12px; line-height: 25px;COLOR: #ffffff}.t01 {
	font-size: 10px;
	color: #666666;
}

.main-dan:link {
	COLOR: #000000;
	TEXT-DECORATION: none;
	font-family: "??��?";
}
.main-dan:visited { COLOR: #000000; TEXT-DECORATION:none }
.main-dan:active { COLOR: #ff0000; TEXT-DECORATION: underline }
.main-dan:hover {
	COLOR: #ff0000;
	TEXT-DECORATION: underline;
	font-family: "??��?";
	font-size: 12px;
}