@charset "gb2312";
*,div, html, body, p, ul, li, a, form, img, table, td, h1{margin:0;padding:0; list-style:none;}
body {
	font: 12px Arial, Helvetica, sans-serif;
	color: #982d73;
	background:#b2e0e7;
}
a {
	text-decoration: none;
	color: #FFF3FB;
}
a:hover {
	text-decoration: underline;
}
a {
	color: #FFFFFF;
}
a:hover {
	text-decoration: none;
}
#header{
	width:980px;
	margin:0 auto;
	overflow:hidden;
}
#header h1 {
	margin-top:20px;
	font-size:24px;
}
#header a {
	font-size:24px;
	color: #4d4d4f;
	text-decoration: none;
}
#content {
	width:980px;
	margin:20px auto 0;
	padding:10px 0;
	overflow:hidden;
	background:#fff;
}
#content ul.contentul li{width:235px; float:left; margin:5px;}
#content ul.contentul li .contentli{height:66px;  0 0 no-repeat;}
#content ul.contentul li .contentli img{margin:10px;padding:2px; float:left;border:1px solid #fff;}
#content ul.contentul li .contentli .contentright{margin:10px auto;float:left;}
#content ul.contentul li .contentli .user_name{ font-size:14px; font-weight:bold; color:#203a5d;}
#content ul.contentul li .contentli .time{color:#f16c25;margin-top:10px;}
.comment{margin:10px; overflow:hidden;}
.comment p,.comment p a{ font-size:14px; color:#333; line-height:22px;}
.list_pages{width:980px; margin:10px; clear:both;}
.list_pages ul.pagelist{
	width:100%;
}
.list_pages ul li{
	float:left;
	line-height:17px;
	margin-right:6px;
}
.list_pages ul li a{
	background:#bdd7fa;
    border:1px solid #82b5f9;
    color: #203a5d;
    display: inline-block;
    height: 14px;
    line-height: 14px;
    padding: 3px 6px;
}
.list_pages ul li a:hover{
	color:#fff;
	border: 1px solid #82b5f9;
	background:#2c5b99;
	text-decoration:none;
}
.list_pages li span{
	display: inline-block;
    height: 14px;
    line-height: 14px;
    padding: 3px 6px;
	border:none;
}
.list_pages li span.pageOn{color:#203a5d;font-weight: bold;}
.friendlink{overflow:hidden;}
.friendlink li{ margin:0 5px;float:left;}
.friendlink li a{color:#fff; text-decoration:none;}
.friendlink li a:hover{color:#fff; text-decoration:underline;}
#footer {
	width:960px;
	margin:0 auto;
	padding:10px;
	clear:both;
	background:#64a945;
}
#footer p {
	font-size:12px;
	color:#fff;
	padding-top:30px;
	text-align:center;
}
#footer a {
	color:#fff;
}
.site-footer-img {
	width:980px;
	height: 62px;
	margin: 0 auto 20px;
	no-repeat 0 0;
}